<?php

return array(
    /**
     * Cookies
     */
    'cookies.encrypt' => true,
    'cookies.lifetime' => '+7 days',
    'cookies.secret_key' => '#COOKIES_SECRET_KEY',
    /**
     * Database
     */
    'db.charset' => 'utf8',
    'db.driver' => 'pdo_mysql',
    'db.host' => 'localhost',
    'db.name' => '#DB_NAME',
    'db.password' => '#DB_PASSWORD',
    'db.port' => 3306,
    'db.user' => '#DB_USER',
    /**
     * Debugging
     */
    'debug' => true,
    /**
     * Localization
     */
    'locale.all' => array('en'),
    'locale.default' => 'en',
    'locale.path' => __DIR__ . '/assets/lang/%s.php',
    /**
     * Logging
     */
    'log.writer' => new App\Services\Logger(__DIR__ . '/storage/logs/app.log'),
    /**
     * Security
     */
    'security.field.pk' => 'id',
    'security.field.username' => 'email',
    'security.field.password' => 'password',
    'security.session_name' => '#SECURITY_SESSION_NAME',
    'security.table' => 'users',
    /**
     * Session
     */
    'session.cookie_name'=> '#SESSION_COOKIE_NAME',
    /**
     * Templates
     */
    'view' => 'App\\Services\\Twig',
    'view.options' => array(
        'cache' => __DIR__ . '/storage/twig',
        'debug' => true,
    ),
    'view.path' => __DIR__ . '/assets/twig'
);
