<VirtualHost *:#APP_PORT>
    ServerName #APP_HOST
    ServerAlias www.#APP_HOST

    ServerAdmin admin@#APP_HOST

    DocumentRoot "#APP_DOCUMENT_ROOT"
    <Directory "#APP_DOCUMENT_ROOT">
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog "#APP_DOCUMENT_ROOT/error.txt"
    CustomLog "#APP_DOCUMENT_ROOT/access.txt" combined
</VirtualHost>
