<VirtualHost *:80>
    ServerName frameworx.dev
    ServerAlias www.frameworx.dev

    ServerAdmin admin@frameworx.dev

    DocumentRoot "${APP_PATH}/www"
    <Directory "${APP_PATH}/www">
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog "${APP_PATH}/www/error.txt"
    CustomLog "${APP_PATH}/www/access.txt" combined
</VirtualHost>
