<VirtualHost *:80>
    ServerName frameworx.dev
    ServerAlias www.frameworx.dev

    ServerAdmin admin@frameworx.dev

    DocumentRoot "${FMX_PATH}/www"
    <Directory "${FMX_PATH}/www">
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog "${FMX_PATH}/www/error.txt"
    CustomLog "${FMX_PATH}/www/access.txt" combined
</VirtualHost>
