{% extends 'layouts/bootstrap.twig' %}

{% block body %}
    {% include 'partials/navbar.twig' %}
    {{ parent() }}
{% endblock %}

{% block container %}
    {% include 'partials/flash.twig' %}
    {% block page %}{% endblock %}
{% endblock %}

{% block meta %}
    <title>{{ title|trans }} - {{ 'app'|trans }}</title>
{% endblock %}
